@import '../../main.scss';

.messanger {
  width: 310px;
  &__header {
    background-color: #fafaff;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    padding: 11px 0 12px 16px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 2.8px;
  }
  &__title {
    font-family: 'SF Pro Display Medium';
    font-size: 16px;
    font-weight: 500;
  }
  &__body {
    background-color: #ffffff;
    height: 639px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
.friends {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 21px;
  padding: 15px 0 20px 16px;
}
.friend {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__name {
    font-family: 'SF Pro Display Regular';
    color: #77838f;
    font-size: 12px;
    letter-spacing: 1px;
  }
}
.chat {
  padding: 0 15px;

  &__list {
    margin: 0;
    padding: 20px 0;
    list-style: none;
    border-bottom: 1px solid $ligthGrey;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__info {
    display: flex;
    flex-direction: column;
    font-family: 'SF Pro Display Semi Bold';
    margin: 0 26px 0 14px;
    color: #333269;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.02em;
  }
}
