@import '../../main.scss';

.session_progress {

  height: 304px;
  border-radius: 20px;
  background-color: #fff;
  padding: 20px 19px 14px;
}
.session {
  position: relative;
}
.checked {
  position: absolute;
  top: 0;
  right: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $purple;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  &__img {
    width: 19px;
    height: 16px;
    margin: 10px 19px 4.88px 18px;
  }

  &__text {
    font-family: 'Roboto Medium';
    color: #fff;
    font-size: 8px;
    line-height: 9px;
    margin-bottom: 10px;
  }
}
.description_wrapper {
  padding: 21px 20px 21px 17px;
  width: 315px;
  background-color: #fafaff;
  position: absolute;
  border-radius: 10px;
  bottom: -70px;
  left: -8px;
}
.description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 14px;

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: 'SF Pro Display Medium';
    font-size: 20px;
    font-weight: 500;
    color: #0e1566;
    margin: 0 0 3px 2px;
  }

  &__certificate {
    font-family: 'SF Pro Display Regular';
    text-transform: uppercase;
    color: #9592a6;
    font-size: 11px;
    letter-spacing: 1px;
  }

  &__progress_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7.8px;
    margin-top: 8px;
  }

  &__time {
    width: 24px;
    height: 24px;
  }

  &__progress {
    font-family: 'SF Pro Display Regular Italic';
    color: $red;
  }

  &__subinfo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__date {
    width: 27px;
    height: 32px;
  }

  &__link {
    text-decoration: none;
    color: $purple;
    font-family: 'SF Pro Display Semi Bold';
    font-weight: 600;
  }
}
