@import "../../main.scss";

.dashboard {
  width: 100%;
  background-color: $baseBg;
  padding: 47px 38px 35px 40px;

  &__title {
    font-family: "SF Pro Display Bold";
    font-size: 21px;
    margin: 47px 0 19px 0;
  }
  &__content {
    display: flex;
    flex-direction: row;
  }
}
.education {
  background-color: #fff;
}
