@import "../../main.scss";

.dashboard {
  width: 100%;
  background-color: $baseBg;
  padding: 47px 38px 35px 40px;

  &__title {
    font-family: "SF Pro Display Bold";
    font-size: 21px;
    margin-bottom: 19px;
  }
  &__content {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
}
.education {
  border-radius: 20px;
  width: 787px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.sessions {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.session_upcomming {
  background-color: #fff;
  width: 425px;
  height: 364px;
  border-radius: 20px;
}
