@import "../../main.scss";

.dashboard {
  width: 100%;
  background-color: $baseBg;
  padding: 47px 38px 35px 40px;

  &__title {
    font-family: "SF Pro Display Bold";
    font-size: 21px;
    margin-bottom: 19px;
  }
  &__content {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
}
.education {
  background-color: #fff;
  border-radius: 20px;
  width: 787px;
}
