@import './main.scss';

.page {
  width: 1440px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.sidebar {
  width: 240px;
  background-color: $headline;

  &__logo {
    margin-top: 46px;
    margin-left: 23px;
  }
  &__nav {
    display: flex;
    flex-direction: column;
  }
}
.container {
  width: calc(100% - 240px);
}
.header {
  display: flex;
  width: 100%;
  height: 79px;
  background-color: grey;
}
.content {
  width: 100%;
  background-color: aquamarine;
}
