@import "../../main.scss";

.programs {
  padding: 23px 24px 0 25px;
  background-color: #fff;
  border-radius: 20px;
  &__title {
    font-family: "SF Pro Display";
    font-size: 16px;
    font-weight: 400;
  }
}
.container {
  padding-bottom: 24px;
}
.program_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 23px 0 1px 0;
  padding-bottom: 24px;
}
.program_wrapper:not(:last-child) {
  border-bottom: 1px solid $ligthGrey;
}
.program {
  display: flex;
  flex-direction: row;
}
.info {
  font-family: "SF Pro Display";
  font-size: 14px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 16px;

  &__title {
    display: inline-block;
    font-family: "SF Pro Display";
    font-size: 10px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    background-color: $purple;
    border-radius: 20px;
    text-align: center;
    padding: 2px 15px;
  }
  &__university {
    margin-top: 8px;
  }
}
.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 41px;

  &__text {
    font-family: "SF Pro Display";
    font-weight: 400;
    text-align: center;
    margin-top: 7px;
    color: #9592a6;
  }
}
